@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
  --safe-area-bottom: env(safe-area-inset-bottom);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  overflow-x: hidden;
  padding-bottom: var(--safe-area-bottom);
}

input, textarea {
  user-select: text;
}
